.Footer{
    background-color: rgb(53, 53, 53);
    border-radius: 20px 20px 0 0 ;
    margin-top: 10px;
    padding-bottom: 20px;
    line-height: 30px;
}

.FooterTop{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 150px;
}

.FooterTop img{
    width: 100%;
    margin-top: -20px;
}

.FooterBottomDiv{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
}

.FooterBottomDiv a {
    text-decoration: none;
    color: rgb(230, 230, 230);
}

.FooterBottomDiv a:hover {
    text-decoration: underline;
}