.HotelsHeaderMainDiv{
    margin-top: 40px;
}

.HotelsHeaderDiv {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: auto;
    width: 400px;
    text-align: center;
}

.HotelsContentDivParant {
    position: relative;
}

.HotelsContentDiv {
    overflow-x: scroll;
    width: 99%;
    margin: auto;
    padding: 10px;
    white-space: nowrap;
}

.HotelsContentDiv::-webkit-scrollbar {
    width: 0px;
}

.HotelsLeftContent {
    display: none;
}

.HotelsLeftContentShow {
    box-shadow: 0 0 5px black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position: absolute;
    left: 10px;
    bottom: 42%;
    background-color: rgb(233, 233, 233);
    z-index: 1;
}

.HotelsLeftContentShow:hover {
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
}


.HotelsRightContent {
    display: none;
}

.HotelsRightContentShow {
    box-shadow: 0 0 5px black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    bottom: 42%;
    font-size: 35px;
    background-color: rgb(233, 233, 233);
    z-index: 0;
}

.HotelsRightContentShow:hover {
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    ;
}